html { overflow: hidden !important; }
body { margin: 0; }
canvas { width: 100%; height: 100% }

.editor-grab {
    cursor: pointer;
    cursor: hand;
    cursor: -webkit-grab;
    cursor: grab;
}

.editor-grabbing {
    cursor: pointer;
    cursor: hand;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.editor-pointing {
    cursor: pointer;
}

.editor-removing {
    cursor: pointer;
    cursor: no-drop;
}

#container {
    position: relative;
    height: 100%;
}

#dashboard {
    position: absolute;
    top: 0;
    left: 0;
}

#planner-error {
    position: absolute;
    top: 100%;
    left: -8px;
    width: 100%;
}

#editor-enabler, #editor-controls {
    position: absolute;
    left: 0;
    bottom: 0;
}

#editor-help {
    position: absolute;
    bottom: 100%;
    left: -8px;
    margin-right: 0;
}

#editor-help-path .flex, #editor-help-static-obstacles .flex {
    position: absolute;
    bottom: 100%;
    left: -8px;
    display: flex;
    flex-direction: row;
}

#editor-clear-options {
    position: absolute;
    bottom: 100%;
    margin-left: -8px;
    padding-bottom: 0;
    padding-right: 0;
}

#editor-clear-options .button {
    width: 100%;
    margin-right: 0.5rem;
}

#editor-road-box {
    position: absolute;
}

#editor-dynamic-obstacles-box {
    width: 450px;
    position: absolute;
}

#editor-scenario-info {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
}

#editor-scenario-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#welcome-modal .hero {
    margin: -1.5rem -1.5rem 1.5rem -1.5rem;
}

#welcome-modal a, #planner-error a {
    color: #6697e5 !important;
}

#welcome-modal a:hover, #planner-error a:hover {
    color: #3273dc !important;
}

#scenarios-modal .columns {
    margin-bottom: 0;
}

#scenarios-modal-items {
    flex: 1;
    margin-bottom: -0.75rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

#scenarios-modal-tabs a {
    color: #dbdbdb;
}

#scenarios-modal-tabs a:hover {
    color: #4a4a4a;
}

#scenarios-modal-tabs .is-active a {
    color: #fff;
}

.scenarios-modal-tab {
    height: calc(50vh);
    display: flex;
    flex-direction: column;
}

#scenarios-modal-examples-tab .columns {
    height: 25%;
    margin-top: 0;
    margin-bottom: 0;
}

#scenarios-modal-examples-tab .column:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

#scenarios-modal-examples-tab img {
    float: left;
    height: 100%;
}

#scenarios-modal-examples-tab .name {
    padding-left: 0.75rem;
    padding-bottom: 1.5rem;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scenario-sort-button {
    cursor: pointer;
}

.scenario-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.scenario-item-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scenario-item-name:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.is-underlined {
    text-decoration: underline;
}

.editor-dynamic-obstacle-form:last-child {
    margin-bottom: 0;
}

.editor-field-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

#editor-stats {
    position: absolute;
    right: 0;
    bottom: 0;
}

#editor-stats-sl {
    position: absolute;
    right: 100%;
    top: -8px;
    white-space: nowrap;
}

#cameras {
    position: absolute;
    right: 0;
    bottom: 0;
}

.gui-box {
    background: #222b;
    padding: 8px;
    margin: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
}

.modal-box {
    background: #222;
    padding: 1.5rem;
    border-radius: 2px;
}

.allow-user-select {
    -webkit-touch-callout: auto !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

#controls {
    position: relative;
    padding: 8px;
    overflow: hidden;
}

#stats {
    padding: 8px 8px 8px 0;
    width: 300px;
    line-height: 1.2;
}

#stats .units-button {
    cursor: pointer;
}

#config-box {
    position: absolute;
    top: 0;
    right: 0;
}

#gear {
    display: none;
    position: absolute;
    color: #aaa;
    font-weight: bold;
    font-size: 13px;
    top: 50%;
    margin-top: -8px;
    text-align: center;
    width: 100%;
    margin-left: -8px;
}

#brake, #gas {
    position: absolute;
    border: 63px solid;
    border-radius: 100%;
    width: 200%;
    height: 200%;
    bottom: -50%;
    box-sizing: border-box;
    clip-path: inset(50% 50% 0 50%);
}

#brake {
    left: -50%;
    border-color: red;
}

#gas {
    right: -50%;
    border-color: green;
}

#wheel-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

#wheel {
    width: 100px;
    height: 100px;
    mask-image: url('../images/wheel.png');
    mask-size: contain;
    -webkit-mask-image: url('../images/wheel.png');
    -webkit-mask-size: contain;
    background-color: hsl(0, 0%, 86%);
}

#wheel-marker {
    height: 4px;
    width: 3px;
    border-radius: 1px;
    background: #804000;
    position: absolute;
    top: 4px;
    left: 50%;
    margin-left: -1.5px;
}

#wheel-pie {
    height: 100%;
    width: 100%;
    clip-path: inset(0 0 0 50%);
    left: 0;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}

#wheel-pie-left, #wheel-pie-right {
    height: 100%;
    width: 100%;
    border: 2px solid #ff8000;
    border-radius: 50%;
    clip-path: inset(0 50% 0 0);
    left: 0;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}
